:root {
    --brand-color: #2196F3;
    --dark-background-color: #2F303A;
    --light-color:#FFFFFF;
}
body{
    font-family: 'Roboto', 'Raleway', sans-serif;
    color:#212121;
    background-color:var(--light-color);
    width:1600px;
}

.container{
    width:1200px;
}

.section{
    padding-top:94px;
    padding-bottom:94px;
}
body a{ 
    text-decoration:none;
    color:inherit;
}

body a:hover,
body a:focus{
    color:var(--brand-color);
}

.portfolio-body{
    background-color: var(--light-color);
}

ul{
    list-style-type:none;
}

.main-menu{
    background-color:var(--light-color);
    font-size:14px;
    font-weight:500;
    line-height:1.14;
    letter-spacing:0.02em;
    border-bottom:1px solid #ECECEC;
    display:flex;
    flex-basis:1600px;
    margin-bottom:0px;
}

.menu{
    display:flex;
    flex-basis:254px;
    margin:32px 371px 32px 93px;
    justify-content:space-between;
}

.menu-link{
    margin-right:46px;
}
.logo{
    font-family:'Raleway';
    font-weight: 700;
    font-size:26px;
    line-height:1;
    letter-spacing:0.03em;
    text-align:center;
    margin-left:215px;
    margin-top:24px;
}

.logo-accent{
    color: var(--brand-color);
}

.contact-tel
.contact-mail{
    color:#757575;
}

.contact{
    display:flex;
    margin-top:32px;
}

.contact-item{
    margin-right:50px;

}
.header{
    background-color: var(--dark-background-color);
    flex-basis:1600px;
    min-width:1600px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-between;
    height:600px;
}

.title{
    font-size:44px;
    font-weight:900;
    line-height:1.36;
    text-align:center;
    letter-spacing:0.06em;
    text-transform: uppercase;
    color: var(--light-color);
    max-width:696px;
    flex-basis:696px;
    padding-top:200px;


}

.header-button{
    background-color:var(--brand-color);
    color: var(--light-color);
    font-weight:700;
    font-size:16px;
    line-height:1.88;
    align-items:center;
    text-align:center;
    letter-spacing:0.06em;
    cursor: pointer;
    width:200px;
    flex-basis:50px;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius:4px;
    margin-bottom:200px;
}


.feature-list{
    display:flex;
    font-size:14px;
    letter-spacing: 0.03em;
    flex-basis:1170px;
    max-width:1170px;
    min-width:1170px;
    justify-content: space-between;
    margin-left:215px;
    margin-right:215px;
}

.feature-item{
    min-width:270px;
    max-width:270px;
    margin-right:30px;
    margin-left:0;
}

.feature-list:last-child{
    margin-right:0;
}

.feature-name{
    font-weight:700;
    line-height:1.14em;
    text-transform:uppercase;    
}

.feature-description{
    line-height:1.71;
    color:#757575;
}

.services{
    width:1170px;
    margin-left:215px;
    margin-right:215px;
}


.services-title{
    font-weight:700;
    font-size:36px;
    line-height:1.17;
    text-align:center;
    letter-spacing:0.03em;
    padding-bottom:50px;
}

.services-list {
    display: flex;
    justify-content: space-between;
}

.services-item{
    margin-right:30px;
    margin-left:0;
}

.services-list:last-child{
    margin-right:0;
}

.team{
    background-color: #F5F4FA;
    width:1600px;
}

.team-title{
    font-weight:700;
    font-size:36px;
    line-height:1.17;
    text-align:center;
    letter-spacing:0.03em;
}

.team-photos{
    display:flex;
    padding-top:50px;
    justify-content:space-between;
    flex-basis:1170px;
    max-width:1170px;
    margin-left:215px;
    margin-right:215px;
}


.team-card{
    display:flex;
    flex-direction:column;
    flex-basis: 260px;
    width:270px;
    align-items:space-between;
    background-color: var(--light-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-right:30px;
    margin-left:0px;
    
}

.team-photos-item:last-child{
    margin-right:0;
}

.team-photo{
    flex-grow:1;
    max-width:270px;
    min-width:270px;
    height:260px;
    margin-right:30px;

}

.team-name{
    font-weight:500;
}

.team-name,
.team-position{
    font-size:16px;
    line-height:1.19;
    text-align:center;
    letter-spacing:0.03em;
}

.team-position{
    color:#757575;
}

footer{
    background-color:var(--dark-background-color);
    font-size:14px;
    line-height:1.71;
    letter-spacing:0.03em;
    color: var(--light-color);
    width:1600px;
}

footer>.logo{
    display:inline-block;
    margin-top:60px;
    margin-bottom:20px;
}

.address{
    width:246px;
    height:81px;
    margin-left:215px;
}

.address-item{
    margin-top:9px;
}

.address:first-child{
    margin-top:0px;
}

.address:last-child{
    padding-bottom:60px;
}

.address-tel,
.address-mail{
    color:rgba(255, 255, 255, 0.6);
    display:block;
}

.address-tel:hover,
.address-tel:focus,
.address-mail:focus,
.addres-mail:hover{
    color:var(--brand-color);
}

.project{
    font-size:16px;
    letter-spacing: 0.03em;
}
.button{
 background-color:#F5F4FA;
 color:#212121;
 font-weight:500;
 line-height:1.62;
 align-items:center;
 text-align:center;
 cursor: pointer;
}
.button:hover,
.button:focus{
    background-color: var(--brand-color);
    color: var(--light-color);
}

.project-name{
    font-weight:700;
    font-size:18px;
    line-height:2;
    letter-spacing:0.06em;
}

.project-kind{
    line-height:1.88;
    color:#757575;
}